git+https://github.com/openai/whisper.git 
transformers
torch
torchaudio
torchvision
streamlit
streamlit-mic-recorder
ffmpeg-python
opencv-python
transformers 
streamlit_mic_recorder
numpy 
pandas
plotly 
pillow
uuid
wave
scipy
datetime
moviepy
