git+https://github.com/openai/whisper.git 
transformers
torch
torchaudio
torchvision
streamlit
streamlit-mic-recorder
ffmpeg-python
streamlit
transformers
streamlit-mic-recorder
opencv-python
numpy
pandas
plotly
Pillow
wave
scipy
datetime
base64
tempfile
moviepy
openai-whisper
tensorflow